<div class="box box-info">
    <div class="box-body">
        {{ form_start(formCategorie, {attr:{ novalidate:"novalidate"}}) }}
        {{ form_errors(formCategorie) }}

        <div>
            {{ form_label(formCategorie.title,  "Nom de la catégorie", {label_attr: {class: "cat"} } ) }}
            {{ form_errors(formCategorie.title) }}
            {{ form_widget(formCategorie.title, {attr: { class: "form-control"} } ) }}
        </div>

        <div>
            {{ form_label(formCategorie.description, "Description",{label_attr: {class: "le-nom-de-votre-class"} }) }}<br>
            {{ form_errors(formCategorie.description) }}
            {{ form_widget(formCategorie.description, {attr: {placeholder: "Description de la catégorie", class: "form-control"} }) }}
        </div>

        {% if formCategorie.position is defined %}
        <div>
            {{ form_label(formCategorie.position,  "Position", {label_attr: {class: "cat"} } ) }}
            {{ form_errors(formCategorie.position) }}
            {{ form_widget(formCategorie.position, {attr: { class: "form-control"} } ) }}
        </div>
        {% endif %}

        <div class="box-footer">
            <button class="btn btn-info">Envoyer</button>
            <a href="{{ path("categories") }}"><button type="button" class="btn btn-info">Retour à la liste des catégories</button></a>
        </div>



        {{ form_end(formCategorie) }}

    </div>
</div>