{% block form %}
    <div class="box box-info">
        <div class="box-body">
            {{ form_start(formProduct, {attr:{ novalidate:"novalidate"}}) }}

            <div>
                {{ form_label(formProduct.title,  "Nom du produit", {label_attr: {class: "prod"} } ) }}
                {{ form_errors(formProduct.title) }}
                {{ form_widget(formProduct.title, {attr: { class: "form-control"} } ) }}
            </div>

            <div>
                {{ form_label(formProduct.description, "Description",{label_attr: {class: "le-nom-de-votre-class"} }) }}<br>
                {{ form_errors(formProduct.description) }}
                {{ form_widget(formProduct.description, {attr: {placeholder: "Description du produit", class: "form-control"} }) }}
            </div>

            <div>
                {{ form_label(formProduct.price,  "Prix", {label_attr: {class: "prod"} } ) }}
                {{ form_errors(formProduct.price) }}
                {{ form_widget(formProduct.price, {attr: { class: "form-control"} } ) }}
            </div>

            <div>
                {{ form_errors(formProduct.quantity) }}
                {{ form_label(formProduct.quantity,  "Quantité", {label_attr: {class: "prod"} } ) }}
                {{ form_widget(formProduct.quantity, {attr: { class: "form-control"} } ) }}
            </div>

            <div>
                {{ form_errors(formProduct.marque) }}
                {{ form_label(formProduct.marque,  "Marque", {label_attr: {class: "prod"} } ) }}
                {{ form_widget(formProduct.marque, {attr: { class: "form-control"} } ) }}
            </div>

            <div class="form-group">
                {{ form_errors(formProduct.image) }}
                {{ form_label(formProduct.image,  "Image", {label_attr: {class: "prod"} } ) }}
                {{ form_widget(formProduct.image) }}
            </div>

            <div>
                {{ form_label(formProduct.categories,  "Catégories", {label_attr: {class: "prod"} } ) }}
                {{ form_errors(formProduct.categories) }}
                {{ form_widget(formProduct.categories) }}
            </div>

            <div class="box-footer">
                <button class="btn btn-info">Envoyer</button>
                <a href="{{ path("product") }}"><button type="button" class="btn btn-info">Retour à la liste des produits</button></a>
            </div>



            {{ form_end(formProduct) }}

        </div>
    </div>
{% endblock %}