{% extends "public.layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("plugins/datepicker/datepicker3.css") }}">
{% endblock %}

{% block content %}
   
        <div class="row">
            <div class="col-md-12">
                {{ form_start(formUser, {attr:{ novalidate:"novalidate"}}) }}
                <div>
                    {{ form_label(formUser.username,  "Pseudo", {label_attr: {class: "pseudo"} } ) }}
                    {{ form_errors(formUser.username) }}
                    {{ form_widget(formUser.username, {attr: { class: "form-control"} } ) }}
                </div>
                <div>
                    {{ form_label(formUser.email,  "Mail", {label_attr: {class: "mail"} } ) }}
                    {{ form_errors(formUser.email) }}
                    {{ form_widget(formUser.email, {attr: { class: "form-control"} } ) }}
                </div>
                <div>
                    {{ form_label(formUser.password,  "Mot de passe", {label_attr: {class: "mdp"} } ) }}
                    {{ form_errors(formUser.password) }}
                    {{ form_widget(formUser.password, {attr: { class: "form-control"} } ) }}
                </div>
                {% if formUser.birthday is defined %}
                <div>
                    {{ form_label(formUser.birthday,  "Date anniversaire" ) }}
                    {{ form_errors(formUser.birthday) }}
                    {{ form_widget(formUser.birthday, {attr: { class: "datepicker form-control"} } ) }}
                </div>
                {% endif %}
                <div>
                    {{ form_label(formUser.avatar,  "Photo de profil", {label_attr: {class: "mdp"} } ) }}
                    {{ form_errors(formUser.avatar) }}
                    {{ form_widget(formUser.avatar) }}
                </div>
                <p><img style="width:100px" src="{{ asset("upload/" ~ user.avatar) }}" alt="juste vide"></p>

                <div class="box-footer">
                    {% if app.request.get('_route') == "createUser" %}
                        <button class="btn btn-info">Créer</button>
                    {% else %}
                        <button class="btn btn-info">Modifier</button>
                    {% endif %}
                </div>
                {{ form_end(formUser) }}
            </div>
        </div>
   
{% endblock %}

{% block javascript %}


    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("public/js/bootstrap.min.js") }}"></script>

    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{ asset("plugins/daterangepicker/daterangepicker.js") }}"></script>
    <!-- datepicker -->
    <script src="{{ asset("plugins/datepicker/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset('plugins/datepicker/locales/bootstrap-datepicker.en.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker( {
                language: 'en',
                format: 'yyyy-MM-dd'
            });
        });
    </script>
{% endblock %}