{% extends "public.layout.html.twig" %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- Custom CSS -->
        <link href="{{ asset("public/css/shop-item.css") }}" rel="stylesheet">
    {% endblock %}

    {% block content %}



                <div class="col-md-9">

                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ asset("upload/" ~ product.image) }}" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">{{ product.price }} €</h4>
                            <h4><a href="#">{{ product.titleFR }}</a>
                            </h4>
                            <p><strong>{{ product.marque.title }}</strong></p>

                            <p>{{ product.descriptionFR }}</p>
                        </div>

                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                        </div>
                    </div>

                    <div class="well">

                        <div class="text-right">
                            <a href="{{ path("comment", {id:product.id})}}"class="btn btn-success">Laisser un commentaire</a>
                        </div>
        {% for comments in comment %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">

                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {{ comments.author }}
                                <span class="pull-right">{{ comments.createAt | date("d/m/y") }}</span>
                                <p>{{ comments.content }}</p>
                            </div>
                        </div>
        {% endfor %}

            {% block form %} {% endblock %}

    {% endblock %}