{% extends "layout.html.twig" %}
{% block content %}

    {# Affichage du message de success	#}
    <strong>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="BlueLigth">
                {{ flash_message }}
            </div>
        {% endfor %}
    </strong>

    <div class="box box-info">
        <div class="box-body">


        {{ form_start(formContact) }}

        <div>
            {# affiche les erreurs du champ firstname #}
            {{ form_errors(formContact.firstname) }}

            {# affiche la balise label du champ firtsname #}
            {{ form_label(formContact.firstname,  "Votre prénom", {label_attr: {class: "le-prenom-de-votre-class"} } ) }}

            {# affiche la balise input de type text du champ firtsname #}
            {{ form_widget(formContact.firstname, {attr: {placeholder: "Votre prénom", class: "form-control"} } ) }}
        </div>

        <div>
            {{ form_errors(formContact.lastname) }}

            {{ form_label(formContact.lastname, "Votre nom", {label_attr: {class: "le-nom-de-votre-class"} } ) }}

            {{ form_widget(formContact.lastname, {attr: {placeholder: "Votre nom", class: "form-control"} } ) }}
        </div>

        <div>
            {{ form_errors(formContact.email) }}


            {{ form_label(formContact.email, null) }}

            {{ form_widget(formContact.email,
            {
                attr: {
                placeholder: 'email',
                class: "form-control"
            },
                id: "votre-super-id"
            })
            }}
        </div>

        <div>
            {{ form_errors(formContact.content) }}
            {{ form_label(formContact.content, "Votre message",{label_attr: {class: "le-nom-de-votre-class"} }) }}<br>
            {{ form_widget(formContact.content, {attr: {placeholder: "Votre message", class: "form-control"} }) }}
        </div>

        <button>Envoyer</button>

        {{ form_end(formContact) }}
    </div>
    </div>
{% endblock %}