{% extends "public.layout.html.twig" %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- Custom CSS -->
        <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
    {% endblock %}

    {% block content %}

       <h1>Traduction</h1>
            
        <p>{{ 1000 | localizednumber }}</p>
        <p>{{ '2017-01-18' | localizeddate }}</p>

        <p>{{ 'text.content' | trans }}</p>
        <p>{{ 'text.placeholder' | trans( { '%name%' : 'truc'}) }}</p>

        <h2>{{ 'admin.homepage' | trans( {},'admin' ) }}</h2>

        {% set route = app.request.get('_route') %}
        {% set route_params = app.request.get('_route_params') %}

        <ul>
            {% for locale in locales %}
                {% set route_merge = route_params | merge( { '_locale' : locale } ) %}
                <li><a href="{{ url(route, route_merge) }}">{{ locale }}</a> </li>
            {% endfor %}
        </ul>

        {{ dump(route, route_params, locales) }}

    {% endblock %}

