{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block ariane %}
    <li class="active">Vue produit</li>
{% endblock %}


{%  block content %}

            <h4>Nom du produit : <strong>{{ products.titleFR }}</strong></h4>
            <p>Description : {{ products.descriptionFR }}</p>
            <p>Prix : {{ products.price }} €</p>
            <!--<p>Date de création : {#{{ produit.date_created | date("d/m/y") }}#} </p>-->
            <p>Quantité: {{ products.quantity }}</p>
            <p>Marque: {{ products.marque.title }}</p>
            <p>Catégorie:
                {% for category in products.categories %}
                {{ category.title }}
                {% endfor %}
            </p>
            <p><img style="width:100px" src="{{ asset("upload/" ~ products.image) }}" alt="juste vide"></p>
    {{ dump(products.image) }}





    <a href="{{ path("product") }}"><button type="button" class="btn btn-info">Retour à la liste des produits</button></a>
{% endblock %}