{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block ariane %}
    <li class="active">Vue produit</li>
{% endblock %}


{%  block content %}

            <p>Nom du produit : <strong>{{ products.title }}</strong></p>
            <p>Description : {{ products.description }}</p>
            <p>Prix : {{ products.price }} €</p>
            <!--<p>Date de création : {#{{ produit.date_created | date("d/m/y") }}#} </p>-->
            <p>Quantité: {{ products.quantity }}</p>
            <p>Marque: {{ products.marque.title }}</p>
    {{ dump(products.marque.title) }}



    <a href="{{ path("product") }}"><button type="button" class="btn btn-info">Retour à la liste des produits</button></a>
{% endblock %}