{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{%  block content %}

            <p>Nom du produit : <strong>{{ produit.title }}</strong></p>
            <p>Description : {{ produit.description }}</p>
            <p>Prix : {{ produit.prix }} €</p>
            <p>Date de création : {{ produit.date_created | date("d/m/y") }} </p>



    <a href="{{ path("product") }}"><button type="button" class="btn bg-purple btn-xs">Retour à la liste des produits</button></a>
{% endblock %}