{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block ariane %}
    <li class="active">Tous les produits</li>
{% endblock %}


{%  block content %}

    <strong>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">
                {{ flash_message }}
            </div>
        {% endfor %}
    </strong>

    <div class="row">
        <div class="col-md-12">
            <!-- /.box -->
            <div class="box-header">
                <h3 class="box-title">Tous les produits</h3>
            </div>
            <a href="{{ path("product_create") }}"><button type="button" class="btn btn-block bg-purple">Créer</button></a>
            <!-- /.box-header -->
            <div class="box box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Marque</th>
                        <th>Catégorie</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Image</th>
                        <!--<th>Date</th>-->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.title }}</td>

                        <td>{{ product.description }}</td>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.marque.title }}</td>
                        <td>

                                {% for category in product.categories %}
                                    {{ category.title }}
                                {% endfor %}


                        </td>

                        <td>{{ product.dateCreation | date("d/m/y") }}</td>
                        <td>{{ product.dateEdit | date("d/m/y") }}</td>
                        <td><img style="width:100px" src="{{ asset("upload/" ~ product.image) }}" alt="juste vide"> </td>
                        <td>
                            <div class="btn-group">
                                <a href=" {{ path("show_product",{id:product.id}) }}">
                                    <button type="button" class="btn btn-info btn-xs">
                                    Visualiser</button></a>
                                <a href="{{ path("edit_product", {id:product.id}) }}"><button type="button" class="btn btn-warning btn-xs">Editer</button></a>
                                <a href="{{ path("remove_product", {id:product.id}) }}"><button type="button" class="btn btn-danger btn-xs">Supprimer</button></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            {% set total = 0 %}
            {% set minPrice = 10000 %}
                {% for product in products %}
                    {% set total = total + product.price %}

                        {% if product.price < minPrice %}
                        {% set minPrice = product.price %}
                        {% endif %}
                {% endfor %}


                <p>Le prix minimum est: <strong>{{ minPrice }}.</p>



            {% set total = total / products|length %}
            <p>Le prix moyen est : {{ total }} €.</p>

            <!-- /.box-body -->
        </div>

    </div>

<!-- /.box -->
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>


    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable(
                    {
                        "language": {
                            "lengthMenu": "Montrer _MENU_ enregistrement par page",
                            "zeroRecords": "Nothing found - sorry",
                            "info": "Montrer page _PAGE_ à _PAGES_",
                            "infoEmpty": "Pas d'enregistrements pour cette recherche",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }
                    });
        });
    </script>
{% endblock %}