{% extends "public.layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}



{% block content %}
    <h4>Pseudo : <strong>{{ user.username }}</strong></h4>
    {% if app.user.avatar is defined %}
    <p><img style="width:100px" src="{{ asset("upload/" ~ user.avatar) }}" alt=""></p>
    {% else %}
    <p><img style="width:100px" src="{{ asset("upload/avatar.jpg") }}" alt=""></p>
    {% endif %}
    <p>Date d'anniversaire: {{ user.birthday |date("d/m/Y")}}</p>
    <p>Email: {{ user.email }}</p>


    <a href="{{ path("edit_profil") }}"><button type="button" class="btn btn-info">Modifier</button></a>
{% endblock %}

