{% extends "layout.html.twig" %}

{% block ariane %}
<li class="active">Création d'une marque</li>
{% endblock %}

{% block content %}

<strong>

    {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-info">
        {{ flash_message }}
    </div>
    {% endfor %}
</strong>

<div class="box box-info">
    <div class="box-body">
    <h1>Brand creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('brand_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
