{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Brand</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ brand.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('brand_edit', { 'id': brand.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
