{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block ariane %}
    <li class="active">Catégorie</li>
{% endblock %}


{%  block content %}

    <p>Nom de la catégorie : <strong>{{ cat.title }}</strong></p>
    <p>Description : {{ cat.description | nl2br }}</p>
    <p>Date de création : {{ cat.date_created | date("d/m/y") }} </p>

    <a href="{{ path("categories") }}"><button type="button" class="btn bg-purple btn-xs">Retour à la liste des catégories</button></a>
{% endblock %}