{% extends "layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block ariane %}
    <li class="active">Catégorie</li>
{% endblock %}


{%  block content %}

    <p>Position : {{ cat.position }} </p>
    <p>Nom de la catégorie : <strong>{{ cat.title }}</strong></p>
    <p>Description : {{ cat.description | nl2br }}</p>


    <a href="{{ path("categories") }}"><button type="button" class="btn btn-info">Retour à la liste des catégories</button></a>
{% endblock %}